$white:      #ffffff;

$lightBlue:  #38aef0;
$darkGray:   #253141;
$lightGray:  #2f3e51;
$Gray:       #dddddd;
$borderGray: #eeeeee;


$textLGray:  #999999;
$textGray:   #434a54;
$textBlack:  #333333;