.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group<
        aaaaaaaaa
      %ul.main-header__left-box__member-list<
        Member : naoki
    =link_to "#" do
      .main-header__edit-btn<
        Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker<
          naoki
        %p.message__upper-info__date<
          2019/10/23(Wed) 19:40:00
      %p.message__text<
        おはようございます
  .form
    .new-message
      .input-box
        %input.input-box__text{type: "text", placeholder: "type a message"}
        %label.input-box__image{for: "upload-icon"}
          = fa_icon "image"
          %input.input-box__image__select-btn{type: "file", id: "upload-icon"}
      %input.submit-btn{type: "submit", value: "Send"}